<header>
    <section class="hero-section">
        <nav class="navbar">
            <div class="data-container">
                <a class="navbar-brand" href="/">
                    <div class="">
                        <h1>CODE-MAPPER</h1></div>
                </a>
                <div id="menu-time" class="menu-data animate__animated ">
                   
                    <a href="" >Home</a>
                    <a href="/about" (click)="navigateToPage('/about')">About Us</a>
                    <a href="/ProDetail" (click)="navigateToPage('/ProDetail')">Project details</a>
                    
                </div>
            </div>
        </nav>
    </section>
    <script src="https://kit.fontawesome.com/7103fc097b.js" crossorigin="anonymous"></script>
</header>