<div class="main">
    <img  class="image-col1">

    <img  class="image-col">
</div>



<div class="bgo">
<h2>Research conducted on websites that provide roadmaps for learning programming languages</h2>
</div>


<table>
  <tr>
    <th>Website</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="https://roadmap.sh/">Roadmap.sh</a></td>
    <td>A collection of roadmaps to various programming languages and technologies.</td>
  </tr>
  <tr>
    <td><a href="https://github.com/kamranahmedse/developer-roadmap">Developer Roadmap</a></td>
    <td>Guides and roadmaps for becoming a web developer, front-end and back-end.</td>
  </tr>
  <tr>
    <td><a href="https://www.freecodecamp.org/">freeCodeCamp</a></td>
    <td>Offers structured learning paths for various programming languages and technologies.</td>
  </tr>
  <tr>
    <td><a href="https://www.codecademy.com/">Codecademy</a></td>
    <td>Interactive lessons and projects for learning programming languages.</td>
  </tr>
  <tr>
    <td><a href="https://www.udemy.com/">Udemy</a></td>
    <td>Provides courses on programming languages with various levels of expertise.</td>
  </tr>
  <tr>
    <td><a href="https://www.udacity.com/">Udacity</a></td>
    <td>Offers nanodegree programs and courses for programming and technology.</td>
  </tr>
  <tr>
    <td><a href="https://www.pluralsight.com/">Pluralsight</a></td>
    <td>Platform for technology and creative training, including programming languages.</td>
  </tr>
  <tr>
    <td><a href="https://www.coursera.org/">Coursera</a></td>
    <td>Provides online courses from universities on various programming topics.</td>
  </tr>
  <tr>
    <td><a href="https://www.edx.org/">edX</a></td>
    <td>Offers online courses from universities and institutions on programming.</td>
  </tr>
  <tr>
    <td><a href="https://www.w3schools.com/">W3Schools</a></td>
    <td>Provides tutorials and references for web development languages.</td>
  </tr>
</table>




