

<div class="container">
  
<button (click)="navigateToPage('/Python')" class="box image-bg" id="b"></button>
<button (click)="navigateToPage('/java')" class="box image-java" id="b"></button>
<button (click)="navigateToPage('/js')" class="box image-js" id="b"></button>

  

  
  <button (click)="navigateToPage('/angular')" class="box image-angular" id="b"></button>
  <button (click)="navigateToPage('/react')" class="box image-react" id="b"></button>
  <button (click)="navigateToPage('/ts')" class="box image-ts" id="b"></button>


</div>

